@tailwind base;
@tailwind components;
@tailwind utilities;


* { box-sizing: border-box; }

body {
  font-family: 'Gilroy', system-ui, sans-serif;
  background-color: #EEEEF5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
